// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/__svg_icons.scss";

input[readonly] {
  border-color: #eee;
  background-color: #f7f7f7;
}

.clearfix {
  clear: both;
}

.hs-filter-field {
  .ls-label {
    margin-right: 0;
    width: 100%;

  }

  @media screen and (max-width: 472px) {
    float: none !important;
  }

  @media screen and (min-width: 473px) {
    .ls-label {
      margin: 0;
    }
  }
}

.hs-filter-search {
  @media screen and (max-width: 500px) {
    width: 100% !important;
    float: none !important;
  }
}

.hs-filter-categories {
  @media screen and (max-width: 360px) {
    .ls-label-text {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
  }

  .hs-filter-reset {
    float: right;
  }

  > * {
    vertical-align: middle;
  }
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }