@import "../vendor/bourbon/app/assets/stylesheets/_bourbon.scss";

.edit-price {
  font-size: 23px;
  vertical-align: middle;

  &,
  &-trigger {
    height: 36px;
    line-height: 36px;
  }

  &-form {
    display: inline-block;
    max-width: 100%;
  }

  &-input {
    width: 70px;
    line-height: normal;
  }
}