@import "../vendor/bourbon/app/assets/stylesheets/_bourbon.scss";

.hs-product-category-label {
    @media screen and (min-width: 571px) and (max-width: 767px), screen and (min-width: 901px) {
      width: 25%;
    }

    @media screen and (max-width: 570px), screen and (min-width: 768px) and (max-width: 900px) {
      width: 100%;
    }
}

.hs-product-edit-price {
  position: relative;
  font-size: 23px;
  vertical-align: middle;

  &,
  &-trigger {
    height: 36px;
    line-height: 36px;
  }

  &-form {
    display: inline-block;
    max-width: 100%;
  }

  &-input {
    width: 70px;
    line-height: normal;
  }

  &-popover {
    top: 50%;
    left: 0;
    position: absolute;
  }

  &-info {
    display: inline-block;
    vertical-align: top;

    width: 15px;
    height: 15px;

    color: #999;
    font-size: 9px;
    line-height: 14px;
    text-align: center;

    background-color: white;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
  }

  &-loading::before {
    @include animation(transform 10s infinite);
    @include transform(rotate(-360deg));
  }
}

.hs-quantity-field-container {
  min-width: 140px;
  max-width: 140px;
}

.hs-price-field-container {
  min-width: 100px;
  max-width: 100px;
}

.hs-product-sale {
  &-fields-trigger .hs-svg-icon {

    @media screen and (min-width: 1020px) {
      margin-top: 16px;
      width: 40px;
      height: 40px;
    }

    @media screen and (max-width: 1020px) {
      margin-top: 19px;
      width: 35px;
      height: 35px;
    }
  }

  &-fields-add ~ &-fields-trigger {
    margin-left: 9px;
  }

  &-fields-undo {
    display: none;
  }

  &-fields-group.hs-show-undo &-fields-undo {
    display: block;
  }
}