@import "../vendor/bourbon/app/assets/stylesheets/_bourbon.scss";

.edit-price {
  position: relative;
  font-size: 23px;
  vertical-align: middle;

  &,
  &-trigger {
    height: 36px;
    line-height: 36px;
  }

  &-form {
    display: inline-block;
    max-width: 100%;
  }

  &-input {
    width: 70px;
    line-height: normal;
  }

  &-popover {
    top: 50%;
    left: 0;
    position: absolute;
  }

  &-info {
    display: inline-block;
    vertical-align: top;

    width: 15px;
    height: 15px;

    color: #999;
    font-size: 9px;
    line-height: 14px;
    text-align: center;

    background-color: white;
    border: 1px solid #c4c4c4;
    border-radius: 50%;
  }
}