@import "../vendor/bourbon/app/assets/stylesheets/_bourbon.scss";

.hs-table-sale-orders {
  table-layout: auto;
  thead th:last-child {
    min-width: 90px;
  }
}

.hs-table-sale-order {
  .hs-svg-icon {
    width: 20px;
    height: 20px;
  }

  .hs-active .hs-svg-icon:first-child {
    display: none;
  }
  .hs-active .hs-svg-icon:last-child {
    display: block;
  }

  .hs-svg-icon:last-child {
    display: none;
  }

  &-item {
    background-color: #1d937b;
    background-color: rgba(29,147,123,.02);
  }

  &-item.ls-display-none {
    background-color: transparent;
  }

  &-item table {
    margin-bottom: 30px !important;
    width: 100%;
  }
}
